.modal {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: none;
  background-color: rgba(256, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &--hidden {
    display: none;
  }

  &__window {
    box-sizing: border-box;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 5px;
  }

  &__play-btn {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
}
